.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.jobs {
    padding: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
 }

 .modal {
    display: flex;
    align-items: center;
    justify-content: center;
 }