@import "../../styles/Colors.css";

p {
  font-size: 1rem;
}

.txtPrimaryLeft {
  text-align: left;
  color: var(--TXTPPrimary);
}

.txtPrimaryLeft2 {
  text-align: left;
  color: var(--TXTPSecundary);
}

.txtPrimaryJustify {
  text-align: justify;
  color: var(--TXTPPrimary);
}

.txtSecundaryCenter1 {
  text-align: center;
  color: var(--TXTPPrimary);
}

.txtSecundaryCenter2 {
  text-align: center;
  color: var(--BasicWhite);
}

.txtboldBlack {
  font-size: 1.2rem;
  color: var(--BasicWhite);
}