/* ==========================================================================
   Custom Select
   ==========================================================================

  Descripción del archivo:
  - Objetivo: Contiene todos los estilos para el componente CustomSelect.jsx
  - Autor: Juan Pablo Orozco
  - Verción:  1.0
  - Fecha Creación: 11/03/2024
*/

.select {
  width: 100%;
  outline: none;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid var(--Border);
}