/* ==========================================================================
   Login de empresas
   ==========================================================================

  Descripción del archivo:
  - Objetivo: Contiene todos los estilos para el componente Login.jsx
  - Autor: Juan Pablo Orozco
  - Verción:  1.0
  - Fecha Creación: 29/02/2024
*/

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }