@import "../../styles/Colors.css";

.container {
    width: 600px;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content:space-between;
    background-color: var(--BGSecundary);
}

.input {
    border: none;
    outline:none;
    padding: 10px;
    width: 85%;
    padding: 10px;
    background-color: transparent;
}